.slide {
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }
  
  .current {
    opacity: 1;
    transform: translateX(0);
  }
  
  .content > * {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
